In [3]:
# General imports
import sys
sys.path.append("..")

import time
import numpy as np
import pandas as pd

## Load data

In [15]:
data_path = "../../data/eedi/preparation/preprocessed_data.csv"
df = pd.read_csv(data_path, sep="\t")
df.head()

,user_id,user_age,gender,premium,item_id,unix_time,timestamp,AnswerId,bundle_id,teacher_id,s_module,confidence,correct,hashed_skill_id
0,0,12,2,1.0,18505,1.539630e+09,3841740.0,2303485,751,3494,1,-1.0,1,69
1,0,12,2,1.0,20691,1.539630e+09,3841740.0,18286965,751,3494,1,-1.0,1,69
2,0,12,2,1.0,16312,1.539630e+09,3841740.0,13148472,751,3494,1,-1.0,1,69
3,0,12,2,1.0,8675,1.539630e+09,3841740.0,9298247,751,3494,1,-1.0,1,69
4,0,12,2,1.0,4218,1.539630e+09,3841800.0,18800302,567,3494,11,-1.0,1,68

In [13]:
pd.set_option('display.max_rows', 300)

In [17]:
df.dtypes

user_id              int64
user_age             int64
gender               int64
premium            float64
item_id              int64
unix_time          float64
timestamp          float64
AnswerId             int64
bundle_id            int64
teacher_id           int64
s_module             int64
confidence         float64
correct              int64
hashed_skill_id      int64
dtype: object

In [18]:
df.head()

,user_id,user_age,gender,premium,item_id,unix_time,timestamp,AnswerId,bundle_id,teacher_id,s_module,confidence,correct,hashed_skill_id
0,0,12,2,1.0,18505,1.539630e+09,3841740.0,2303485,751,3494,1,-1.0,1,69
1,0,12,2,1.0,20691,1.539630e+09,3841740.0,18286965,751,3494,1,-1.0,1,69
2,0,12,2,1.0,16312,1.539630e+09,3841740.0,13148472,751,3494,1,-1.0,1,69
3,0,12,2,1.0,8675,1.539630e+09,3841740.0,9298247,751,3494,1,-1.0,1,69
4,0,12,2,1.0,4218,1.539630e+09,3841800.0,18800302,567,3494,11,-1.0,1,68